body {
  background-color: #d6ded6;
  color: brown;
  text-align: left;
  font-family: Comic Sans Ms, Arial, Forte, sans-serif;
  font-size: 18px;
  line-height: 16px;
  background-image: image-url("dogs.png");
  background-repeat: no-repeat;
  background-size: 100%
  
}

p, ol, ul, td {
  font-family: Monotype Corsiva, Comic Sans Ms, helvetica, sans-serif;
  font-size: 16px;
  line-height: 14px;
}

pre {
  background-color: #333399;
  padding: 10px;
  font-size: 12px;
}

a {
  color: #333399;
  &:visited {
    color: green;
  }
  &:hover {
    color: blue;
    background-color: #333399;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 5px;
  background-color: green;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid brown;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 25px;
  background-color: #f0f0f0;
  h2 {
    text-align: right;
    font-weight: italic ;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: yellow;
  }
  ul li {
    font-size: 10px;
    list-style: square;
  }
}